
    // .telephone {
    //     margin-right: 2%;
    // }

    .topnav .search-container button {
        float: right;
        min-width:0;
      }

      .dropdown-content {
        min-width: 200px;
      }


.info {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "contact newsletter"
        "cruiseInfo cruiseInfo";
        grid-column-gap: 20px;
        margin: 0 3% 6%;
}

.blogArticles {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "article1 article2"
        "article3 article4";
        grid-column-gap: 10px;
}


.copyright {
    padding:1.5%;
}