body {
    background-color: #fff;
    font-family: $defaultFont;
    color: #484848;
}

header {

    #Logo {
 
        img {
            
        }
    }
    .telephone {
        float:right;
        color: #fff;
        margin-top: -65px;
        text-decoration: none;
        margin-right: 3%;
        font-size: 150%;
        font-family: 'Crimson Text', serif;
    }
    background-color: #005b97;
}


.menu {
    display: flex;
    flex-direction: row;
    background-color: #e8e8e8;
    padding-left: 3%;
    margin-top:-2px;

    ul.navigation {
        display: flex;
        flex-direction: row;
        font-size: 90%;
       
        color: #fff;
        li {
            margin-top: 3.5%;
            margin-right: 8%;
            a {
              
                padding: 3% 10% 3% 0;
                color: #2b2b2b;
                text-decoration: none;
            }
        }
        input {
            text-align: right;
            border-radius: 5px;
        }
        .searchIcon {
            font-size: 125%;
            padding: 3% 10% 3% 1%;
            color: #2b2b2b;
        }
    }


}
.imgSlider {
    display: flex;
    justify-content: center;
    img {
        width: 100%;
        margin: 0 3% 6% 3%;
    }
}

.icons {
    color: #fff;
    font-size: 200%;
}
.blogArticles {
    display: flex;
    flex-direction: row;

    .article1 {
        background-image: url('https://via.placeholder.com/300x300?');
        display: block;
        // width: 300px;
        // height: 300px;
        width: 25%;
        height: 300px;
        margin: .5%;
        padding-top: 2.5%;
        padding-left: 2.5%;
        margin-left: 3%;
        margin-bottom: 3%;
        .date {
            align-self: flex-end;
            position: absolute;
            bottom: 0px;
            margin-bottom: -10px;
            margin-left: 50px;
        }

    }

    .article2 {
        background-image: url('https://via.placeholder.com/300x300?');
        display: block;
        // width: 300px;
        // height: 300px;
        width: 25%;
        height: 300px;
        margin: .5%;
        padding-top: 2.5%;
        padding-left: 2%;
        margin-bottom: 3%;
        .date {
            align-self: flex-end;
            position: absolute;
            bottom: 0px;
            margin-bottom: -10px;
            margin-left: 50px;
        }
    }

    .article3 {
        background-image: url('https://via.placeholder.com/300x300?');
        display: block;
        // width: 300px;
        // height: 300px;
        width: 25%;
        height: 300px;
        margin: .5%;
        padding-top: 2.5%;
        padding-left: 2.5%;
        margin-bottom: 3%;
        .date {
            align-self: flex-end;
            position: absolute;
            bottom: 0px;
            margin-bottom: -10px;
            margin-left: 50px;
        }
    }

    .article4 {
        background-image: url('https://via.placeholder.com/300x300?');
        display: block;
        // width: 300px;
        // height: 300px;
        width: 25%;
        height: 300px;
        margin: .5%;
        padding-top: 2.5%;
        padding-left: 2.5%;
        margin-right: 3%;
        margin-bottom: 3%;
        .date {
            align-self: flex-end;
            position: absolute;
            bottom: 0px;
            margin-bottom: -10px;
            margin-left: 50px;
        }
    }
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #e8e8e8;
    padding: 0 3% 3%;
    h2 {
    /* Clearfix Solution */
    // .clearfix {
    //     overflow: hidden;
    // }
        margin-top: 4%;
        margin-bottom: 3%;
        font-size: 135%;
    }
    .contact {
        width: 32.5%;
        margin-bottom: 3%;
        a {
            text-decoration: none;
            color: #000;
        }
        a:hover, a:active {
            color: #fff;
        }
    }
    .newsletter {
        input {
            width: 97%;
            padding: 3% 1%;
            border-radius: 5px;
            margin-top: 4%;
          }
        button.custom {
            width: 100%;
            padding: 3% 1%;
            margin-top: 2%;
            border-radius: 5px;
            font-size: 110%;
            background-color: #ccc;
        }  
        width: 32.5%;
        margin-bottom: 3%;
        margin-right: 2%;
    }
    .cruiseInfo {
        width: 32.5%;

    }
}


.social {
    background-color: #202020;
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding: 25px;
    font-size: 120%;
    .pad {
        color: #585858;
        padding-right: 10px;
    }
}

.copyright {
    padding:2%;
    text-align: center;
    background-color: #005b97;
    color: #cce6ff;
}

