body {
    background-color: #fff;
    font-family: $defaultFont;
    color: #484848;
    line-height: 1.4;
}

header {

    #Logo {
        height: 101px;
        img {
            
        }
    }
    .telephone {
        float:right;
        color: #fff;
        margin-top: -65px;
        text-decoration: none;
        margin-right: 3%;
        font-size: 130%;
        font-family: 'Crimson Text', serif;
    }
    background-color: #005b97;
}

input {
    font-size: 120%;
}

input[type=search]:focus {
    width: 290px;
    background-color: #fff;
    border-color: #66CC75;

}

.navList {
    font-size: 130%;
    color: #005b97;
    padding: 1% 0;
    background-color: #F8B500;
    .customMenu {
        margin-left: 2%;

    }
}



/* THis is new CSS */@at-root

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
    #searching {
        border-radius: 15px;
        padding: 10px;
    }
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }


.imgSlider {
    display: flex;
    justify-content: center;
    img {
        width: 100%;
        margin: 0 3% 6% 3%;
    }
}

.icons {
    color: #fff;
    font-size: 200%;
}
.blogArticles {
    display: flex;
    flex-direction: row;

    .article1 {
        background-image: url('https://via.placeholder.com/300x300?');
        
        // width: 300px;
        // height: 300px;
        width: 25%;
        height: 300px;
        margin: .5%;
        padding-top: 2.5%;
        padding-left: 2.5%;
        margin-left: 3%;
        margin-bottom: 3%;
        .date {
            position: absolute;
            bottom: 0px;
            margin-left: 50px;
        }

    }

    .article2 {
        background-image: url('https://via.placeholder.com/300x300?');
       
        // width: 300px;
        // height: 300px;
        width: 25%;
        height: 300px;
        margin: .5%;
        padding-top: 2.5%;
        padding-left: 2%;
        margin-bottom: 3%;
        .date {
            position: absolute;
            bottom: 0px;
            margin-left: 50px;
        }
    }

    .article3 {
        background-image: url('https://via.placeholder.com/300x300?');
        
        // width: 300px;
        // height: 300px;
        width: 25%;
        height: 300px;
        margin: .5%;
        padding-top: 2.5%;
        padding-left: 2.5%;
        margin-bottom: 3%;
        .date {
            position: absolute;
            bottom: 0px;
            margin-left: 50px;
        }
    }

    .article4 {
        background-image: url('https://via.placeholder.com/300x300?');
        
        // width: 300px;
        // height: 300px;
        width: 25%;
        height: 300px;
        margin: .5%;
        padding-top: 2.5%;
        padding-left: 2.5%;
        margin-right: 3%;
        margin-bottom: 3%;
        .date {
            position: absolute;
            bottom: 0px;
            margin-left: 50px;
        }
    }
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #e8e8e8;
    padding: 0 3% 3%;
    h2 {
    /* Clearfix Solution */
    // .clearfix {
    //     overflow: hidden;
    // }
        margin-top: 4%;
        margin-bottom: 3%;
        font-size: 135%;
        font-weight: 600;
    }
    .contact {
        width: 32.5%;
        margin-bottom: 3%;
        a {
            text-decoration: none;
            color: #000;
        }
        a:hover, a:active {
            color: #fff;
        }
    }
    .newsletter {
        input {
            width: 97%;
            padding: 3% 1%;
            border-radius: 5px;
            margin-top: 4%;
          }
        button.custom {
            width: 100%;
            padding: 3% 1%;
            margin-top: 2%;
            border-radius: 5px;
            font-size: 110%;
            background-color: #ccc;
        }  
        width: 32.5%;
        margin-bottom: 3%;
        margin-right: 2%;
    }
    .cruiseInfo {
        width: 32.5%;

    }
}


.social {
    background-color: #202020;
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding: 25px;
    font-size: 120%;
    .pad {
        color: #585858;
        padding-right: 10px;
    }
}

.copyright {
    padding:2%;
    text-align: center;
    background-color: #005b97;
    color: #cce6ff;
    font-size: 95%;
}

